@using EntityLayer.Concrete
@model List<Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-left:22%">
    <h2 class="text-center">CATEGORİES</h2>
    <a href="/Admin/CategorysAdd" class="btn btn-success">Yeni Kayıt</a>
    <table class="table table-bordered mt-3">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name </td>
                <td>@item.color</td>
                <td><a href="/Admin/CategoryGet/@item.Id" class="btn btn-primary">Güncelle</a></td>
                <td>
                    <a href="/Admin/CategoryRemove/@item.Id" class="btn btn-danger"
                       onclick="return confirm('Bu kullanıcıyı silmek istediğinizden emin misiniz?')">Sil</a>
                </td>
            </tr>
        }

    </table>
</div>
