@model UserSignInViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- userprofile14:04-->
<head>
    <!-- Basic need -->
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="~/template2/css/deneme.css">
    <link rel="stylesheet" href="~/template2/css/plugins.css">
    <link rel="stylesheet" href="~/template2/css/style.css">
    @*<link rel="stylesheet" href="~/template2/css/style.css">*@

</head>
<body>
    <div class="log-form">
        <h2>Giriş</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="form-row">
                <label>
                    <input type="text" title="Kullanıcı adı" placeholder="Kullanıcı adı" asp-for="@Model.username"  required="required" />
                </label>
            </div>
            <div class="form-row">
                <label>
                    <input type="password" title="Password" placeholder="Şifre" asp-for="@Model.password" id="password-2" required="required" />
                </label>
            </div>
            <button type="submit" class="btn">Giriş Yap</button>
            <a class="forgot" href="#">Şifrenizi mi unuttunuz?</a>
            @if (@ViewData["ValidateMessage"] != null)
            {
                <br />
                <br>
                <h6>@ViewData["ValidateMessage"]</h6>
            }
        }
    </div><!--end log form -->
    </div>
    <script src="~/template2/js/jquery.js"></script>
    <script src="~/template2/js/plugins.js"></script>
    <script src="~/template2/js/plugins2.js"></script>
    <script src="~/template2/js/custom.js"></script>
</body>

<!-- userprofile14:04-->
</html>
