@using EntityLayer.Concrete
@model List<Movie>
@{
    ViewData["Title"] = "MovieListByGrid";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- moviegrid07:29-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="~/template2/css/plugins.css">
	<link rel="stylesheet" href="~/template2/css/style.css">

</head>
<script>
	window.onload = function () {
		window.scrollTo(0, 0); // Sayfanın en üstüne otomatik olarak kaydır
	};
</script>
<body>
	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1> Film listesi - grid</h1>
						<ul class="breadcumb">
							<li class="active"><a href="/Home/Index">Ana Sayfa</a></li>
							<li> <span class="ion-ios-arrow-right"></span> Film listesi</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="topbar-filter">
						<p>Toplam <span>12 Film </span>var </p>
						<label>Şununla sırala:</label>
						<select>
							<option value="popularity">Popülerliğe göre azalan</option>
							<option value="popularity">Popülerliğe göre artan</option>
							<option value="rating">Puana göre azalan</option>
							<option value="rating">Puana göre  artan</option>
							<option value="date">Çıkış tarihine göre azalan</option>
							<option value="date">Çıkış tarihine göre date artan</option>
						</select>
						<a href="/Movie/MovieList" class="list"><i class="ion-ios-list-outline "></i></a>
						<a href="/Movie/MovieListByGrid" class="grid"><i class="ion-grid active"></i></a>
					</div>
					<div class="flex-wrap-movielist">
							@foreach (var item in Model)
							{
						<div class="movie-item-style-2 movie-item-style-1">
							<img src=@item.Image alt="">
							<div class="hvr-inner">
									<a href="/Movie/MovieDetails/@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							</div>
							<div class="mv-item-infor">
								<h6><a href="#">@item.Name</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>@item.Star</span> /10</p>
							</div>
						</div>
							}
					</div>
					
					
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar">
						<div class="searh-form">
							<h4 class="sb-title">Film Ara</h4>
							<form class="form-style-1" action="#">
								<div class="row">
									<div class="col-md-12 form-it">
										<label>Film ismi</label>
										<input type="text" placeholder="Film ismini girin">
									</div>
									<div class="col-md-12 form-it">
										<label>Kategori</label>
										<div class="group-ip">
											<select name="skills" multiple="" class="ui fluid dropdown">
												<option value="">Kategori girin</option>
												<option value="Action1">Action 1</option>
												<option value="Action2">Action 2</option>
												<option value="Action3">Action 3</option>
												<option value="Action4">Action 4</option>
												<option value="Action5">Action 5</option>
											</select>
										</div>

									</div>
									<div class="col-md-12 form-it">
										<label>Puan Aralığı</label>

										<select>
											<option value="range">-- Puan aralığı girin --</option>
											<option value="saab">-- Puan aralığı girin --</option>
											<option value="saab">--Puan aralığı girin --</option>
											<option value="saab">-- Puan aralığı girin --</option>
										</select>

									</div>
									<div class="col-md-12 form-it">
										<label>Çıkış yılı</label>
										<div class="row">
											<div class="col-md-6">
												<select>
													<option value="range">Şu tarihten</option>
													<option value="number">2000</option>
													<option value="number">2005</option>
													<option value="number">2010</option>
													<option value="number">2015</option>
													<option value="number">2020</option>
													<option value="number">2024</option>
												</select>
											</div>
											<div class="col-md-6">
												<select>
													<option value="range">Şu tarihe</option>
													<option value="number">2000</option>
													<option value="number">2005</option>
													<option value="number">2010</option>
													<option value="number">2015</option>
													<option value="number">2020</option>
													<option value="number">2024</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-12 ">
										<input class="submit" type="submit" value="Onayla">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/template2/js/jquery.js"></script>
	<script src="~/template2/js/plugins.js"></script>
	<script src="~/template2/js/plugins2.js"></script>
	<script src="~/template2/js/custom.js"></script>
</body>

<!-- moviegrid07:38-->
</html>

