<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Admin/MovieList" class="w3-bar-item w3-button">Movies</a>
        <a href="/Admin/SerieList" class="w3-bar-item w3-button">Series</a>
        <a href="/Admin/RewiewList" class="w3-bar-item w3-button">Rewiews</a>
        <a href="/Admin/CategoryList" class="w3-bar-item w3-button">Categories</a>
        <a href="/Admin/CelebrityList" class="w3-bar-item w3-button">Celebrities</a>
        <a href="/Admin/UserList" class="w3-bar-item w3-button">Users</a>
        <a href="/Home/Index" class="w3-bar-item w3-button btn">Ana Sayfaya Dön</a>
        <a href="#" class="w3-bar-item w3-button btn-info">Profile</a>
        <a href="#" class="w3-bar-item w3-button btn-danger">Çıkış Yap</a>
        
    </div>

    <!-- Page Content -->
    <div style="margin-left:20%">

        <div class="w3-container w3-teal" style="background-image:linear-gradient(120deg, #3498db,#8e44ad);">
            <h1>Admin Panel</h1>
        </div>


    </div>

</body>
</html>
@RenderBody()