<div class="comment-bottom">
	<form action="/Rewiew/AddRewiewToMovie" method="post">
		<input class="form-control" type="text" name="Title" placeholder="Title" required="">
		<input class="form-control" type="text" name="Description" placeholder="Description" required="">
		<input class="form-control" type="number" name="Star" placeholder="Star" required="">
		<input class ="form-control" type="number" name="Id" placeholder="Id" required="">
	<button type="submit" class="btn btn-primary submit">Submit</button>
	</form>
</div>